<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish">
    <mat-card>
      <h3>{{dish.name | uppercase }}</h3>
      <img src={{dish.image}} height="300px" alt=""/>

      <mat-card-content>
        <p>{{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button [routerLink]="['/dishdetail', prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button mat-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button mat-button [routerLink]="['/dishdetail', next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div fxFlex="40">
    <mat-card>
      <p><b>Comments</b></p>
      <mat-card-content>
        <div *ngFor="let d of dish.comments">
          <div>{{d.comment}}</div>
          <div>{{d.rating}} Stars</div>
          <div>-- {{d.author}} {{d.date | date}}</div>
          <div> </div>
        </div>
      </mat-card-content>

    </mat-card>
    <div [hidden]="dish">
      <mat-spinner></mat-spinner>
      <h4>Loading… Please wait</h4>
    </div>
  </div>

</div>
